html, body {
    width: 99%;
    height: 99%;
}

header {
    width: 100%;
    text-align: center;
}

#migas li {
    display: inline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#cargando {
    position: fixed;
    visibility: visible;
    width: 10%;
    left: 40%;
    top: 40%;
}

.error {
    color: red;
    border: solid red 2px;
}